.SS-student-data-container{
  display: flex;
  flex-direction: column;
  background: var(--surface-50);
  margin: 0.2em;
  padding: 0.5em;
  border-radius: 5px;
}

.SS-student-data-container label{
  font-size: 0.8em;
  color: var(--text-color-secondary);
}

.SS-student-data-container span{
  font-size: 1.1em;
}
.SS-student-data-title{
  color: var(--text-color-secondary);
}
#SS-studentimage-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide{
  display: none;
}
#SS-search-from-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
.SS-search-from-list{
  display: grid;
  grid-template-columns: 5fr 5fr 2fr 2fr 2fr;
  cursor: pointer;
}
.SS-search-from-list span{
  border: 1px solid var(--surface-400);
  padding: 0.2em;
  box-sizing: border-box;
}
.SS-search-from-list h5{
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  color: var(--text-color-secondary);
  pointer-events: none !important;
}

.SS-search-from-list:hover{
  color: var(--primary-color);
}