.config-data-tab-maincontainer{
  width: 100%
}
.config-data-tab-container{
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.5em;
  column-gap: 1em;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.config-container{
  padding: 2em;
  width: 25em;
  width: min-max(50px, 100px);
}
.config-data-btn{
  width: 25em;
  width: min-max(50px, 100px);
}
.config-data-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
