.Container{
  background-color: var(--surface-d);
  border-radius: 1em;
  padding: 1.5em;
  box-sizing: border-box;
  position: relative;
}
.Container-title{
  padding: 0;
  margin: 0;
  position: absolute;
  top: -1.5em;
  font-size: 1em;
  color: var(--text-color-secondary);
}


@media (width < 400px){
  .Container-title{
    font-size: .8em;
  }
}
@media (width < 320px){
  .Container-title{
    font-size: .6em;
  }
}