#EPE-subject-title{
  color: var(--text-color-secondary);
  font-size: .9em;
}
.EPE-row-gap {
 margin-top: 1em;
}

#EPE-evalplan-container{
  position: relative;
}
#EPE-updateButton-container{
  position: absolute;
  right: 0;
  bottom: -4.45em;
}

#EPE-cancelButton{
  margin-top: 2em;
}