#EPE-subject-title{
  color: var(--text-color-secondary);
  font-size: .9em;
}

#EPE-evaluation-container{
 display: grid;
  grid-template-columns: 4fr 8fr 2fr 1fr;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
  margin-top: 1em;
  color: var(--text-color-secondary);
}

#EPE-evalplan-container{
  position: relative;
}
#EPE-updateButton-container{
  position: absolute;
  right: 0;
  bottom: -5.1em;
}