.SL-student{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  cursor: pointer;
  margin-bottom: 0.2em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.2em;
}

#SL-tableHeader{
  margin-bottom: .5em;
  font-weight: 700;
  color: var(--text-color-secondary);
  pointer-events: none;
}

.SL-student > div{
  font-size: 1em;
}
.SL-student:hover{
  color: var(--primary-color);
  border-color: var(--primary-color);
}

@media (width < 500px){
  .SL-student > div{
    font-size: 0.8em;
  }
}