.Menu-Print-nomina{
  margin: 0;
  padding: 2em;
  color: black;
  width: 21.59cm;
  height: 27.94cm;
  background-color: white;
}
.Print-Students-lapseName,
.Print-Students-teacherName,
.Print-Students-seccion{
  font-size: 1em;
  margin: 0;
}

.Print-Students-lapseName{
  margin-bottom: 1em;
}

.Print-Student-list{
  display: grid;
  grid-template-columns: 2em 6em 8em 8em repeat(10, 2.5em) 2.5em;
  gap: 0;
  position: relative;
}

.Print-Student-list span{
  border: 1px solid black;
  margin: 0;
  padding: 0.1em;
  width: 100%;

}
.Print-Student-list-headers span {
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}
.Print-Student-grade{
  text-align: center;
}