#TP-updatePassword-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
}

#TP-updatePassword-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

@media (width < 750px){
  #TP-updatePassword-container{
    margin-top: 2em;
    grid-template-columns: 1fr;
  
  }
  .TP-updatePassword-input{
    font-size: .8em;
  }
}