.TP-container{
  grid-area: container;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}
#TP-studentData-container{
  display: grid;
  grid-template-columns: 10em 1fr;
  column-gap: 2em;
  row-gap: 1em;
}
#TP-studentImage{
  width: 100%;
  height: auto;
  border-radius: 1em;
  grid-row: span 4;
}

.TP-name-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.TP-label{
  color: var(--text-color-secondary) ;
  text-indent: 1em;
}

.TP-ci,
.TP-ci .p-inputnumber-input,
#p-autocomplete-custom,
#p-autocomplete-custom .p-autocomplete-input{
  width: 100%;
}

#TP-menu{
 grid-area: menu;
}

#TP-starterMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#TP-SM-title{
  color: var(--text-color-secondary);
  font-size: 1.5em;
}

#TP-noStudentFound{
  text-align: center;
  font-size: 1.1em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 15em;
}

#TP-main-container{
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-areas: 
    ".  menu menu  menu ." 
    ". . container . ."
    ". . . . ."
    ". . . . .";
}

@media (width < 960px){
  #TP-main-container{
 
    grid-template-areas: 
      "menu menu menu menu menu" 
      ". . container . ."
      ". . . . .";
  }

  #TP-menu > .p-menubar{
  display: flex;
  justify-content: center;
  }

    #TP-menu > .p-menubar > .p-menubar-button{
      width: 200%;
      border-radius: 0%;
  }

}

@media (width < 500px){
  #TP-studentData-container{
    grid-template-columns: 1fr;
   place-items: center;
  }

  #TP-studentImage{
    width: 45%;
    height: auto;
    border-radius: 1em;
    grid-row: span 4;
  }
  #TP-SM-title{
    font-size: 1em;
  }
}